@import "../../../styles/_app";
.myaccount{
    padding: 20px 30px;
}
.username{
    color: white;
    span{
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
    }
}
.email{
    color: white;
    span{
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
    }
}