@import '../../styles/_app';

.back-to-top {
	position: fixed;
	bottom: -40px;
	right: 40px;
	display: block;
	width: 45px;
	height: 45px;
	line-height: 46px;
	background: black;
	color: #f8cc0a;
	text-align: center;
	visibility: hidden;
	font-weight: bold;
    opacity: 0;
    transform: scale(0.3);
	text-decoration: none;
	border-radius: 15%;
	box-shadow: 4px 4px 10px rgb(0 0 0 / 20%);
	z-index: 12;
    transition: all .3s;

	svg {
		font-size: 18px;
	}

	&:hover, &:active{
		transform: translateY(-10px);
	}

	@include mobile{
		bottom: -20px;
		right: 20px;
	}
}

.show {
	visibility: visible;
    bottom: 40px;
    right: 40px;
    opacity: 1;
    transform: scale(1);

	@include mobile{
		bottom: 20px;
		right: 20px;
	}
}
