@import "../../styles/_responsive";
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .title {
    margin: 30px 0;
    .btn {
      padding: 20px 0px;
      width: 250px;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: #00081c;
      color: #cdbc7a;
      cursor: pointer;
      &:hover {
        color: red;
        background-color: #00081c;
        opacity: 0.8;
      }
      @include tablet {
        width: 140px;
        font-size: 10px;
      }
      @include mobile {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  @include mobile {
    margin-top: 20px;
    display: block;
  }
}
.link-img {
  position: relative;
  width: 100%;
  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background: fixed;
  }
}
.link-title {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  align-items: center;
  &:hover {
    .right-icons {
      background: white;
    }
  }
}
.right-icons {
  color: rgb(252, 225, 225);
  width: 30px;
  height: 30px;
  background: none;
  border: 2px solid white;
  border-radius: 50%;
}

.wrapper-per {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  gap: 30px;
  @include tablet{
    flex-wrap: wrap;
  }
}
.link-per {
  flex: 25%;
  @include tablet{
    flex: 40%;
  }
}
.link-img-per {
  width: 100%;
  height: 270px;
  position: relative;
}
.image-per {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  &:hover{
    transform: scale(1.1);
    transition: all 0.5s;
  }
}
.link-title-per {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  align-items: center;
}
.title-per{

}
.right-icons-per{}
