:root{
    --color-text: #212529;
    --color-primary: #3577f0;
    --color-secondary: #ff497c;
    --color-tertiary: #FAB8C4;
    --color-white: #ffffff;
    --color-dark: #27272E;
    --color-black: #000000;
    --color-light: #CBD3D9;
    --color-lighter: #F6F7FB;
    --color-lightest: #C4C4C4;
    --color-chart01: #896BA7;
    --color-chart02: #BADEFF;
    --color-chart03: #E76458;
    --color-heading: #292930;
    --color-body: #777777;
    --color-border-light: #E3E6E9;
    --color-border-dark: #42424A;
    --color-gray: #999FAE;
    --color-midgray: #878787;
    --color-extra01: #999FAE;
    --color-success: #3EB75E;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;
    --color-facebook: #3B5997;
    --color-twitter: #1BA1F2;
    --color-youtube: #ED4141;
    --color-linkedin: #0077B5;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;
    --linear-main: linear-gradient(90deg, #f5a763 0%, #ee773b 75%);
    --linear-main-180: linear-gradient(180deg, #f5ce63 0%, #ee773b 75%);
}